<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Nong.NanoBot.Net"
    Manufacturer="Angri450"
    Version="$(var.ProductVersion)"
    UpgradeCode="{2D736C6F-6E63-6F64-652D-4E616E6F426F}"
    Scope="perUser">
    <SummaryInformation Description="Nong.NanoBot.Net Nong.Toolkit.Net runtime" Manufacturer="Angri450" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Nong.NanoBot.Net is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/angri450/Nong.NanoBot.Net" />
    <Property Id="ARPCONTACT" Value="angri450" />
    <Property Id="ARPNOREPAIR" Value="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Nong.NanoBot.Net" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Nong.NanoBot.Net" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Component Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder" Guid="{8E4E1E0B-0A21-47F1-92AF-8A29E65D80B6}">
      <Shortcut
        Id="StartWebUiShortcut"
        Name="NanoBot WebUI"
        Target="[INSTALLFOLDER]nanobot.exe"
        Arguments="web"
        WorkingDirectory="INSTALLFOLDER"
        Advertise="no" />
      <Shortcut
        Id="ShowCliHelpShortcut"
        Name="NanoBot CLI Help"
        Target="[INSTALLFOLDER]nanobot.exe"
        Arguments="--help"
        WorkingDirectory="INSTALLFOLDER"
        Advertise="no" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RegistryValue
        Root="HKCU"
        Key="Software\Angri450\Nong.NanoBot.Net"
        Name="StartMenuShortcuts"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="{C2E4B586-54EB-45F1-8C30-112719570A39}">
      <Shortcut
        Id="DesktopWebUiShortcut"
        Name="NanoBot WebUI"
        Target="[INSTALLFOLDER]nanobot.exe"
        Arguments="web"
        WorkingDirectory="INSTALLFOLDER"
        Advertise="no" />
      <RegistryValue
        Root="HKCU"
        Key="Software\Angri450\Nong.NanoBot.Net"
        Name="DesktopShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>

    <Component Id="UserPathEnvironment" Directory="INSTALLFOLDER" Guid="{C30C0B44-7E43-4886-9002-C93B0FC63E31}">
      <Environment
        Id="AddNanobotToUserPath"
        Name="PATH"
        Value="[INSTALLFOLDER]"
        Permanent="no"
        Part="last"
        Action="set"
        System="no" />
      <RegistryValue
        Root="HKCU"
        Key="Software\Angri450\Nong.NanoBot.Net"
        Name="InstallDir"
        Type="string"
        Value="[INSTALLFOLDER]"
        KeyPath="yes" />
    </Component>

    <CustomAction
      Id="LaunchWebUiAfterInstall"
      Directory="INSTALLFOLDER"
      ExeCommand="&quot;[INSTALLFOLDER]nanobot.exe&quot; web"
      Execute="immediate"
      Return="asyncNoWait"
      Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="LaunchWebUiAfterInstall" After="InstallFinalize" Condition="(NOT Installed) AND (NOT REMOVE) AND (UILevel &gt;= 3)" />
    </InstallExecuteSequence>

    <Feature Id="MainFeature" Title="Nong.NanoBot.Net" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="StartMenuShortcuts" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="UserPathEnvironment" />
    </Feature>
  </Package>
</Wix>
